<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head th:include="head"></head>

<script type="text/javascript">

    /*<![CDATA[*/
    $(document).ready(function() {
        $('#log_dataList').datagrid({
            fit : true,
            toolbar:'#log_tb',
            width:'100%',
            height:'100%',
            url:'/log/getLogListPage',
            loadMsg:'数据加载中,请稍后……',
            singleSelect: true,
            autoRowHeight:false,
            pagination: true,
            nowrap:true,
            striped: true,
            rownumbers:true,
            //fitColumns:true,
            showFooter:true,
            pageSize:20,
            pageList:[20,30,50],
            columns:[[
                {field:'logid',title:'',align:'center', width:50},
                {field:'username',title:'操作人',align:'center', width:80},
                {field:'path',title:'请求路径', width:250},
                {field:'param',title:'请求参数', width:300},
                {field:'ip',title:'ip地址',align:'center', width:80},
                {field:'duration',title:'执行时间',align:'center', width:120},
                {field:'status',title:'状态',align:'center', width:120},
                {field:'remark',title:'提示信息',align:'center', width:300},
                {field:'createTime',title:'操作时间',align:'center', width:200}
            ]]
        });

        $("#log_query_btn").click(function(){
            var params = $('#log_qry_form').serializeObject();
            $('#log_dataList').datagrid('load',params);
        });
    });

    /*]]>*/
</script>

<body>
    <table id="log_dataList"></table>
    <div id="log_tb" class="tb">
        <div class="tb_qry">
            <form id="log_qry_form">
                用户id：<input name="username" class="easyui-textbox" style="width:120px;height:23px"/>
                状态：<input name="status" class="easyui-textbox" style="width:120px;height:23px"/>
                请求路径：<input name="path" class="easyui-textbox" style="width:200px;height:23px"/>
                起止时间：<input class="easyui-datetimebox" name="startTime" style="width:150px"/>至<input class="easyui-datetimebox" name="endTime" style="width:150px"/>
            <a href="#" class="easyui-linkbutton" iconCls="icon-search" id="log_query_btn">查询</a>
            </form>
        </div>
        <div class="tb_btn">
            <a href="javascript:void(0)" class="easyui-linkbutton" plain="true" iconCls="icon-edit" id="log_update_btn">查看</a>
        </div>
    </div>

    <div id="log_dialog" style="display:none;width:400px;height:450px;padding:15px 40px">
        <form id="log_form" method="post">
            <div style="margin-bottom:10px">
                <div>用户名:</div>
                <input id="user_userName" name="userName"  data-options="required:true"  class="easyui-textbox" style="width:100%;height:32px"/>
            </div>
            <div style="margin-bottom:10px">
                <div>性别:</div>
                <select id="user_gender" name="gender"  data-options="required:true" class="easyui-combobox" panelHeight="auto" style="width:100%;height:32px">
                </select>
            </div>
        </form>
    </div>
</body>

</html>