<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="head"></head>
<script th:inline="javascript">
  var basePath = [[${#httpServletRequest.getAttribute('basePath')}]];
    /*<![CDATA[*/
    $(function(){
        $('#role_dataList').datagrid({
            fit : true,
            toolbar:'#tb',
            width:'100%',
            height:'100%',
            url:'role/getRoleListPage',
            loadMsg:'数据加载中,请稍后……',
            singleSelect: true,
            autoRowHeight:false,
            pagination: true,
            nowrap:true,
            striped: true,
            rownumbers:true,
            fitColumns:true,
            showFooter:true,
            pageSize:20,
            pageList:[20,30,50],
            columns:[[
                {field:'roleid',hidden:true},
                {field:'name',title:'角色名称'},
                {field:'remark',title:'备注'},
                {field:'updateTime',title:'更新时间'},
                {field:'createTime',title:'创建时间'}
            ]]
        });

        //查询
        $("#query_btn").click(function(){
            var params = $('#role_qry_form').serializeObject();
            $('#role_dataList').datagrid('load',params);
        });

        //新增用户
        $("#insert_btn").click(function(){
            var $dialog = $('#role_dialog');
            $dialog.dialog({
                title:'创建角色',
                modal: true,
                closed: false,
                width:450,
                onClose : function() {
                    $(this).form('clear');
                },
                buttons:[{
                    text:'创建',
                    iconCls:'icon-ok',
                    handler:function(){
                        $('#role_form').form('submit',{
                            url:'role/insert',
                            onSubmit:function(){
                                return $(this).form('enableValidation').form('validate');
                            },
                            success: function (data) {
                                data = $.parseJSON(data);
                                if(data.retnCode == '0000'){
                                    $.messager.alert('提示',"添加成功!",'info',function(){
                                        $dialog.dialog('close');
                                        $('#role_dataList').datagrid('reload');
                                    });
                                }else{
                                    $.messager.alert('提示',data.retnMessage,'error');
                                }
                            }
                        });
                    }
                },{
                    text:'关闭',
                    iconCls:'icon-no',
                    handler:function(){
                        $dialog.dialog('close');
                    }
                }]
            });
            $dialog.show();
        });

        //更新用户
        $("#update_btn").click(function(){
            var record = $('#role_dataList').datagrid('getSelected');
            $("#role_form").form('load',record);
            var $dialog = $('#role_dialog');
            $dialog.dialog({
                title:'修改用户信息',
                modal: true,
                closed: false,
                width:450,
                onClose : function() {
                    $(this).form('clear');
                },
                buttons:[{
                    text:'保存',
                    iconCls:'icon-ok',
                    handler:function(){
                        $.messager.progress({title:'正在执行'});
                        $('#role_form').form('submit',{
                            url:'role/update',
                            onSubmit:function(param){
                                var isValid = $(this).form('enableValidation').form('validate');
                                if (!isValid){
                                    $.messager.progress('close');	// hide progress bar while the form is invalid
                                }
                            },
                            success: function (data) {
                                data = $.parseJSON(data);
                                if(data.retnCode == '0000'){
                                    $.messager.alert('提示',"修改成功!",'info',function(){
                                        $dialog.dialog('close');
                                        $('#role_dataList').datagrid('reload');
                                    });
                                }else{
                                    $.messager.alert('提示',data.retnMessage,'error');
                                }
                                $.messager.progress('close');
                            }
                        });
                    }
                },{
                    text:'关闭',
                    iconCls:'icon-no',
                    handler:function(){
                        $dialog.dialog('close');
                    }
                }]
            });
            $dialog.show();
        });

        //删除用户
        $("#delete_btn").click(function(){
            $.messager.confirm('提示','确定要删除该角色吗?',function(result){
                if (result){
                    $.ajax({
                        type: "POST",
                        url: "role/delete",
                        data:{roleid:$('#role_dataList').datagrid('getSelected').roleid},
                        success: function(msg){
                            if(msg.retnCode == '0000'){
                                $.messager.alert('提示',"删除成功!",'info',function(){
                                    $('#role_dataList').datagrid('reload');
                                });
                            }else{
                                $.messager.alert('提示',msg.retnMessage,'info');
                            }
                        }
                    });
                }
            });
        })
    });
    /*]]>*/
</script>

<body>
    <table id="role_dataList"></table>
    <div id="tb" class="toolbar">
        <div class="tb_qry">
            <form id="role_qry_form">
                <div class="inp">
                    <div class="title">用户名</div>
                    <div class="text"><input name="name" class="easyui-textbox"/></div>
                </div>
                <div class="qrybtn">
                    <a href="#" class="easyui-linkbutton" iconCls="icon-search" id="query_btn">查询</a>
                </div>
            </form>
        </div>
        <div class="clear"></div>
        <div class="tb_btn">
            <a href="javascript:void(0)" class="easyui-linkbutton" plain="true" iconCls="icon-add" id="insert_btn" >添加</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" plain="true" iconCls="icon-edit" id="update_btn" >修改</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" plain="true" iconCls="icon-remove" id="delete_btn" >删除</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" plain="true" iconCls="icon-link" id="role_relate_btn">设置权限</a>
        </div>
    </div>

    <div id="role_dialog" class="dialog" data-options="modal:true">
        <form id="role_form" method="post">
            <input name="roleid" hidden="hidden" value="0"/>
            <div class="inp">
                <div class="title">角色名称</div>
                <div class="text"><input name="name" class="easyui-textbox" data-options="required:true"/></div>
            </div>
            <div class="inp">
                <div class="title">备注</div>
                <div class="text"><input name="remark" class="easyui-textbox"/></div>
            </div>
        </form>
    </div>
</body>
</html>