<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head th:include="head"></head>

<script type="text/javascript">

    /*<![CDATA[*/
    $(document).ready(function() {

    });

    /*]]>*/
</script>

<body>
    <table id="user_dataList"></table>
    <div id="tb">
        <div class="tb_qry">
            <input id="ss"/>
            <div id="mm" style="width:120px">
                <div data-options="name:'userName'">登陆名</div>
                <div data-options="name:'name'">用户姓名</div>
            </div>
        </div>
        <div class="tb_btn">
            <a href="javascript:void(0)" class="easyui-linkbutton" plain="true" iconCls="icon-add" id="user_create_btn" shiro:hasPermission="user/manager">添加</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" plain="true" iconCls="icon-edit" id="user_update_btn" shiro:hasPermission="user/manager">修改</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" plain="true" iconCls="icon-remove" id="user_del_btn" shiro:hasPermission="user/manager">删除</a>
        </div>
    </div>

    <div id="user_dialog" style="display:none;width:400px;height:450px;padding:15px 40px">
        <form id="user_form" method="post">
            <div style="margin-bottom:10px">
                <div>用户名:</div>
                <input id="user_userName" name="userName"  data-options="required:true"  class="easyui-textbox" style="width:100%;height:32px"/>
            </div>
            <div style="margin-bottom:10px" id="user_form_password">
                <div>密码:</div>
                <input name="password" class="easyui-passwordbox" data-options="required:true"  style="width:100%;height:32px"/>
            </div>
            <div style="margin-bottom:10px">
                <div>姓名:</div>
                <input name="name" class="easyui-textbox" data-options="required:true"  style="width:100%;height:32px"/>
            </div>
            <div style="margin-bottom:10px">
                <div>性别:</div>
                <select id="user_gender" name="gender"  data-options="required:true" class="easyui-combobox" panelHeight="auto" style="width:100%;height:32px">
                </select>
            </div>
            <div style="margin-bottom:10px">
                <div>是否管理员:</div>
                <select id="user_lock" name="isLock"  data-options="required:true" class="easyui-combobox" panelHeight="auto" style="width:100%;height:32px">
                </select>
            </div>
            <div style="margin-bottom:10px">
                <div>是否锁定:</div>
                <select id="user_admin" name="isAdmin"  data-options="required:true" class="easyui-combobox" panelHeight="auto" style="width:100%;height:32px">
                </select>
            </div>
            <div style="margin-bottom:10px">
                <div>Email:</div>
                <input name="email" class="easyui-textbox" data-options="prompt:'请输入Email...',validType:'email'" style="width:100%;height:32px"/>
            </div>
            <div style="margin-bottom:15px">
                <div>手机号:</div>
                <input name="phone" class="easyui-textbox" style="width:100%;height:32px"/>
            </div>
            <div style="margin-bottom:10px">
                <div>备注:</div>
                <input name="remark" class="easyui-textbox" style="width:100%;height:32px"/>
            </div>
        </form>
    </div>

</body>

</html>