<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:include="head"></head>

<script type="application/javascript">
    $(function () {
        $('#menu_treeList').treegrid({
            animate:true,
            loadMsg:'数据加载中请稍后……',
            url:"menu/menuManagerPage?parentid=-1",
            idField:'menuid',
            treeField:'name',
            columns:[[
                {title:"编号",field:'menuid',hidden:true},
                {title:"父节点",field:'_parentId',hidden:true},
                {title:"菜单名称",field:'name'},
                {title:"菜单地址",field:'path'},
                {title:"排序",field:'priority'},
                {title:"是否有效",field:'isEnable',hidden:true},
                {title:"是否有效",field:'isEnableName'},
                {title:"功能",field:'priv_id',hidden:true},
                {title:"功能",field:'priv_name'},
                {title:"备注",field:'remark'},
                {title:"更新时间",field:'updatetime'},
                {title:"创建时间",field:'createtime'}
            ]],
            onBeforeLoad:function(row,param){
                if (!row) {
                    param.id=-1;
                }
                $(this).treegrid('options').url = 'menu/menuManagerPage?parentid='+param.id;
            }
        });
        $("#insert_menu_btn").bind("click",function () {
            var record = $('#menu_treeList').treegrid('getSelected');
            $("#parentid").val(record.menuid);
            $("#menuid").val(0);
            var $dialog = $('#menu_dialog');
            $dialog.dialog({
                title:'增加菜单信息',
                modal: true,
                closed: false,
                onClose : function() {
                    $(this).form('clear');
                },
                buttons:[{
                    text:'保存',
                    iconCls:'icon-ok',
                    handler:function(){
                        $.messager.progress({title:'正在执行'});
                        $('#menu_form').form('submit',{
                            url:'menu/insert',
                            onSubmit:function(param){
                                var isValid = $(this).form('enableValidation').form('validate');
                                if (!isValid){
                                    $.messager.progress('close');
                                }
                            },
                            success: function (data) {
                                data = $.parseJSON(data);
                                if(data.retnCode == '0000'){
                                    $.messager.alert('提示',"增加成功!",'info',function(){
                                        $dialog.dialog('close');
                                        $('#menu_treeList').treegrid('reload');
                                    });
                                }else{
                                    $.messager.alert('提示',data.retnMessage,'error');
                                }
                                $.messager.progress('close');
                            }
                        });
                    }
                },{
                    text:'关闭',
                    iconCls:'icon-no',
                    handler:function(){
                        $dialog.dialog('close');
                    }
                }]
            });
            $dialog.show();
        });

        $("#update_menu_btn").bind("click",function () {
            var record = $('#menu_treeList').treegrid('getSelected');
            $("#menu_form").form('load',record);
            $("#parentid").val(0);
            var $dialog = $('#menu_dialog');
            $dialog.dialog({
                title:'修改菜单信息',
                modal: true,
                closed: false,
                onClose : function() {
                    $(this).form('clear');
                },
                buttons:[{
                    text:'保存',
                    iconCls:'icon-ok',
                    handler:function(){
                        $.messager.progress({title:'正在执行'});
                        $('#menu_form').form('submit',{
                            url:'menu/update',
                            onSubmit:function(param){
                                var isValid = $(this).form('enableValidation').form('validate');
                                if (!isValid){
                                    $.messager.progress('close');	// hide progress bar while the form is invalid
                                }
                            },
                            success: function (data) {
                                data = $.parseJSON(data);
                                if(data.retnCode == '0000'){
                                    $.messager.alert('提示',"修改成功!",'info',function(){
                                        $dialog.dialog('close');
                                        $('#menu_treeList').treegrid('reload');
                                    });
                                }else{
                                    $.messager.alert('提示',data.retnMessage,'error');
                                }
                                $.messager.progress('close');
                            }
                        });
                    }
                },{
                    text:'关闭',
                    iconCls:'icon-no',
                    handler:function(){
                        $dialog.dialog('close');
                    }
                }]
            });
            $dialog.show();
        });
        
        $("#delete_menu_btn").bind("click",function () {
            $.messager.confirm('提示','确定要删除该菜单吗?',function(result){
                if (result){
                    $.ajax({
                        type: "POST",
                        url: "menu/delete",
                        data:{menuid:$('#menu_treeList').treegrid('getSelected').menuid},
                        success: function(msg){
                            if(msg.retnCode == '0000'){
                                $.messager.alert('提示',"删除成功!",'info',function(){
                                    $('#menu_treeList').treegrid('reload');
                                });
                            }else{
                                $.messager.alert('提示',msg.retnMessage,'info');
                            }
                        }
                    });
                }
            });
        });

        $("#update_menu_priv_btn").bind("click",function () {
            var $dialog = $('#menu_priv_dialog');
            var record = $('#menu_treeList').treegrid('getSelected');
            if (record.priv_id != null) {
                $('#priv_id').combobox('setValues',record.priv_id.split(','));
            } else {
                $('#priv_id').combobox('setValues','');
            }
            $dialog.dialog({
                title:'修改功能信息',
                modal: true,
                closed: false,
                onClose : function() {
                    $(this).form('clear');
                },
                buttons:[{
                    text:'保存',
                    iconCls:'icon-ok',
                    handler:function(){
                        $.messager.progress({title:'正在执行'});
                        $('#menu_priv_form').form('submit',{
                            url:'menu/insertMenuPriv',
                            onSubmit:function(param){
                                param.menuid = record.menuid;
                                param.priv_id = $('#priv_id').combobox('getValues');
                                param.priv_name = $('#priv_id').combobox('getText');
                                var isValid = $(this).form('enableValidation').form('validate');
                                if (!isValid){
                                    $.messager.progress('close');
                                }
                            },
                            success: function (data) {
                                data = $.parseJSON(data);
                                if(data.retnCode == '0000'){
                                    $.messager.alert('提示',"修改成功!",'info',function(){
                                        $dialog.dialog('close');
                                        $('#menu_treeList').treegrid('reload');
                                    });
                                }else{
                                    $.messager.alert('提示',data.retnMessage,'error');
                                }
                                $.messager.progress('close');
                            }
                        });
                    }
                },{
                    text:'关闭',
                    iconCls:'icon-no',
                    handler:function(){
                        $dialog.dialog('close');
                    }
                }]
            });
            $dialog.show();
        });
    })
</script>
<body>
<div class="tb_btn" style="height: 25px; padding: 5px;padding-top: 5px;">
    <a href="#" class="easyui-linkbutton" plain="true" data-options="iconCls:'icon-add'" id="insert_menu_btn">添加菜单</a>
    <a href="#" class="easyui-linkbutton" plain="true" data-options="iconCls:'icon-edit'" id="update_menu_btn">修改菜单</a>
    <a href="#" class="easyui-linkbutton" plain="true" data-options="iconCls:'icon-cancel'" id="delete_menu_btn" >删除菜单</a>
    <a href="#" class="easyui-linkbutton" plain="true" data-options="iconCls:'icon-edit'" id="update_menu_priv_btn">关联功能</a>
</div>

<table id="menu_treeList"> </table>

<div id="menu_dialog" style="display:none;width:400px;padding:15px 40px">
    <form id="menu_form" method="post">
        <input id="menuid" name="menuid" hidden="hidden" value="0"/>
        <input id="parentid" name="parentid" hidden="hidden" value="0"/>
        <div style="margin-bottom:10px">
            <div>菜单名称:</div>
            <input name="name" class="easyui-textbox" data-options="required:true"  style="width:100%;height:32px"/>
        </div>
        <div style="margin-bottom:10px">
            <div>菜单地址:</div>
            <input name="path" class="easyui-textbox" data-options="required:true"  style="width:100%;height:32px"/>
        </div>
        <div style="margin-bottom:10px">
            <div>排序:</div>
            <input name="priority" class="easyui-numberbox" data-options="required:true"  style="width:100%;height:32px"/>
        </div>
        <div style="margin-bottom:10px">
            <div>是否有效:</div>
            <select id="isEnable" name="isEnable"  data-options="required:true" class="easyui-combobox" panelHeight="auto" style="width:100%;height:32px">
                <option value="1" selected="selected">有效</option>
                <option value="0">无效</option>
            </select>
        </div>
        <div style="margin-bottom:10px">
            <div>备注:</div>
            <input name="remark" class="easyui-textbox"  style="width:100%;height:32px"/>
        </div>
    </form>
</div>

<div id="menu_priv_dialog" style="display:none;width:400px;padding:15px 40px">
    <form id="menu_priv_form" method="post">
        <div style="margin-bottom:20px">
            <div style="float: left;margin-top: 1%;">功能信息:</div>
            <select id="priv_id" class="easyui-combobox" data-options="multiple:true,panelHeight:'auto',required:true"  style="width:200px;">
                <option value="view">页面权限</option>
                <option value="add">新增</option>
                <option value="update">更新</option>
                <option value="delete">删除</option>
                <option value="manager">管理权限</option>
                <option value="query">查询权限</option>
            </select>
        </div>
    </form>
</div>
</body>

</html>